In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Data/PCA_Normalized.csv', index_col = 0)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/numpy/lib/arraysetops.py:522: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [3]:
df.head()

,0,1,2,3,4,5,6,7,BBLE
0,0.535946,-0.340776,-0.378950,-0.409478,0.385434,0.752969,-0.966496,-0.007804,1000010101
1,4.410000,15.830565,7.294441,-3.931946,1.580675,15.990311,4.177770,1.256324,1000010201
2,-0.002913,0.070488,-0.009502,0.081313,-0.012082,-0.091095,-0.047430,0.064557,1000020001
3,0.035085,-0.062495,-0.065342,0.002053,-0.036879,-0.070413,-0.107799,-0.015961,1000020023
4,7.995610,-3.547684,-2.722607,-4.061353,-10.119040,9.130893,-10.615977,-13.862914,1000030001

In [4]:
df_temp = df.copy()

In [5]:
BBLE = df_temp['BBLE']

In [6]:
del df_temp["BBLE"]

In [7]:
df_temp['Euclidean_Distance'] = df_temp.apply(lambda series: series ** 2).apply(sum, axis = 1).apply(lambda series: series ** (1/2))

In [8]:
df_temp['BBLE'] = BBLE

In [9]:
#res = df_temp.sort_values('Euclidean_Distance', ascending = False).copy()
res = df_temp.copy()

In [10]:
res.head(10)

,0,1,2,3,4,5,6,7,Euclidean_Distance,BBLE
0,0.535946,-0.340776,-0.378950,-0.409478,0.385434,0.752969,-0.966496,-0.007804,1.537640,1000010101
1,4.410000,15.830565,7.294441,-3.931946,1.580675,15.990311,4.177770,1.256324,24.818232,1000010201
2,-0.002913,0.070488,-0.009502,0.081313,-0.012082,-0.091095,-0.047430,0.064557,0.162913,1000020001
3,0.035085,-0.062495,-0.065342,0.002053,-0.036879,-0.070413,-0.107799,-0.015961,0.166143,1000020023
4,7.995610,-3.547684,-2.722607,-4.061353,-10.119040,9.130893,-10.615977,-13.862914,24.311942,1000030001
5,0.773431,-0.281457,-0.273898,-0.303327,-1.028087,0.787424,-1.079969,-1.311901,2.325695,1000030002
6,4.118517,-2.036701,-1.475667,-2.176112,-5.311688,4.578066,-5.459424,-7.251156,12.632525,1000030003
7,0.262793,0.073496,-0.135843,-0.036787,0.067052,0.251845,-0.323539,0.158818,0.540455,1000030010
8,-0.051597,-0.069342,-0.034462,0.028608,-0.012599,-0.182604,-0.002270,0.016479,0.207981,1000041001
9,-0.049978,-0.064087,-0.032829,0.028322,-0.010778,-0.177862,-0.001812,0.019186,0.201513,1000041002

In [11]:
res.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1070994 entries, 0 to 1070993
Data columns (total 10 columns):
0                     1070994 non-null float64
1                     1070994 non-null float64
2                     1070994 non-null float64
3                     1070994 non-null float64
4                     1070994 non-null float64
5                     1070994 non-null float64
6                     1070994 non-null float64
7                     1070994 non-null float64
Euclidean_Distance    1070994 non-null float64
BBLE                  1070994 non-null object
dtypes: float64(9), object(1)
memory usage: 89.9+ MB

In [12]:
res[['Euclidean_Distance', 'BBLE']].to_csv('Data/Heuristic Function.csv')