In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Data/PCA_Normalized.csv', index_col = 0)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/numpy/lib/arraysetops.py:522: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [3]:
df.head()

,0,1,2,3,4,5,6,7,BBLE
0,0.535946,-0.340776,-0.378950,-0.409478,0.385434,0.752969,-0.966496,-0.007804,1000010101
1,4.410000,15.830565,7.294441,-3.931946,1.580675,15.990311,4.177770,1.256324,1000010201
2,-0.002913,0.070488,-0.009502,0.081313,-0.012082,-0.091095,-0.047430,0.064557,1000020001
3,0.035085,-0.062495,-0.065342,0.002053,-0.036879,-0.070413,-0.107799,-0.015961,1000020023
4,7.995610,-3.547684,-2.722607,-4.061353,-10.119040,9.130893,-10.615977,-13.862914,1000030001

In [6]:
df_temp = df.copy()

In [7]:
BBLE = df_temp['BBLE']

In [8]:
del df_temp["BBLE"]

In [9]:
df_temp['Euclidean_Distance'] = df_temp.apply(lambda series: series ** 2).apply(sum, axis = 1)

In [10]:
df_temp['BBLE'] = BBLE

In [12]:
res = df_temp.sort_values('Euclidean_Distance', ascending = False).copy()

In [13]:
res.head(10)

,0,1,2,3,4,5,6,7,Euclidean_Distance,BBLE
632815,522.066815,-353.248885,750.743254,273.316785,-14.775634,-99.409462,51.935385,39.979797,1.050052e+06,4018420001
776305,137.456563,621.757233,23.332605,488.884356,-30.774673,-39.818299,-372.820963,215.634588,8.330550e+05,4080100001
565391,639.976709,259.660315,-373.452842,62.076719,37.298905,-298.480295,139.448360,-230.629760,7.834318e+05,3085900700
1067359,75.946232,415.031145,224.457444,-137.406726,9.223594,457.603019,422.074240,-115.798839,6.483221e+05,5078530085
585117,139.950421,-54.675116,-135.755830,-103.018700,441.482417,15.745822,89.508821,241.256479,3.129892e+05,4004200001
585438,121.424367,-53.297526,-96.776711,-96.715480,401.623548,128.613322,-92.985219,168.750189,2.512699e+05,4004590005
565397,286.707046,-104.696214,-205.314715,-133.185939,33.424538,-91.849134,221.418106,-179.572312,2.438805e+05,3085910100
85885,166.663469,-81.684113,-62.627441,-93.601218,-217.051476,194.002170,-212.424372,-238.564175,2.339176e+05,1012540010
917941,101.670568,-28.505883,-97.202870,-51.141932,-90.031022,-92.793900,229.520040,293.688703,1.788622e+05,4142600001
750815,18.731069,109.692075,53.069314,39.449681,8.777952,302.917420,236.299154,-37.088676,1.658047e+05,4066610005E