In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import scale
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('Data/Cleaned Data.csv', index_col = 0)

In [3]:
list(df.columns)

['BBLE',
 'B',
 'TAXCLASS',
 'ZIP',
 'BLOCK',
 'BLDGCL',
 'FULLVAL',
 'AVLAND',
 'AVTOT',
 'LTFRONT',
 'LTDEPTH',
 'BLDFRONT',
 'BLDDEPTH',
 'STORIES']

In [4]:
df.head()

,BBLE,B,TAXCLASS,ZIP,BLOCK,BLDGCL,FULLVAL,AVLAND,AVTOT,LTFRONT,LTDEPTH,BLDFRONT,BLDDEPTH,STORIES
0,1000010101,1,4,10004.0,1,P7,21400000.0,4225500.0,9630000.0,500.0,1046.0,37.5,66.0,3.0
1,1000010201,1,4,10004.0,1,Z9,193800000.0,14310000.0,87210000.0,27.0,177.0,37.0,227.0,3.0
2,1000020001,1,4,10004.0,2,Y7,104686000.0,39008700.0,47108700.0,709.0,564.0,709.0,564.0,3.0
3,1000020023,1,4,10004.0,2,T2,39200000.0,15255000.0,17640000.0,793.0,551.0,85.0,551.0,2.0
4,1000030001,1,4,10004.0,3,Q1,272300000.0,121050000.0,122535000.0,323.0,1260.0,89.0,57.0,1.0

In [5]:
del df['BLDGCL'], df['BLOCK']

In [6]:
ZIP5 = df['ZIP'].astype('str').str.slice(start = 0, stop = 5)
ZIP3 = ZIP5.str.slice(stop = 3)

In [7]:
del df['ZIP']
df['ZIP5'] = ZIP5
df['ZIP3'] = ZIP3

In [8]:
df.head()

,BBLE,B,TAXCLASS,FULLVAL,AVLAND,AVTOT,LTFRONT,LTDEPTH,BLDFRONT,BLDDEPTH,STORIES,ZIP5,ZIP3
0,1000010101,1,4,21400000.0,4225500.0,9630000.0,500.0,1046.0,37.5,66.0,3.0,10004,100
1,1000010201,1,4,193800000.0,14310000.0,87210000.0,27.0,177.0,37.0,227.0,3.0,10004,100
2,1000020001,1,4,104686000.0,39008700.0,47108700.0,709.0,564.0,709.0,564.0,3.0,10004,100
3,1000020023,1,4,39200000.0,15255000.0,17640000.0,793.0,551.0,85.0,551.0,2.0,10004,100
4,1000030001,1,4,272300000.0,121050000.0,122535000.0,323.0,1260.0,89.0,57.0,1.0,10004,100

In [9]:
LOTAREA = np.multiply(df["LTFRONT"], df['LTDEPTH'])
BLDAREA = np.multiply(df["BLDFRONT"], df['BLDDEPTH'])
BLDTOT = np.multiply(BLDAREA, df['STORIES'])

In [10]:
df['LOTAREA'] = LOTAREA
df['BLDAREA'] = BLDAREA
df['BLDTOT'] = BLDTOT

In [11]:
del df['LTFRONT'], df['LTDEPTH'], df['BLDFRONT'], df['BLDDEPTH'], df['STORIES']

In [12]:
df_new = df.copy()

In [13]:
values = ['FULLVAL', 'AVLAND', 'AVTOT']
areas = ['LOTAREA', 'BLDAREA', 'BLDTOT']
for value in values:
    for area in areas:
        df_new[value + '_' + area] = np.divide(df[value], df[area])

In [14]:
df_new.head()

,BBLE,B,TAXCLASS,FULLVAL,AVLAND,AVTOT,ZIP5,ZIP3,LOTAREA,BLDAREA,BLDTOT,FULLVAL_LOTAREA,FULLVAL_BLDAREA,FULLVAL_BLDTOT,AVLAND_LOTAREA,AVLAND_BLDAREA,AVLAND_BLDTOT,AVTOT_LOTAREA,AVTOT_BLDAREA,AVTOT_BLDTOT
0,1000010101,1,4,21400000.0,4225500.0,9630000.0,10004,100,523000.0,2475.0,7425.0,40.917782,8646.464646,2882.154882,8.079350,1707.272727,569.090909,18.413002,3890.909091,1296.969697
1,1000010201,1,4,193800000.0,14310000.0,87210000.0,10004,100,4779.0,8399.0,25197.0,40552.416824,23074.175497,7691.391832,2994.350282,1703.774259,567.924753,18248.587571,10383.378974,3461.126325
2,1000020001,1,4,104686000.0,39008700.0,47108700.0,10004,100,399876.0,399876.0,1199628.0,261.796157,261.796157,87.265386,97.551991,97.551991,32.517330,117.808271,117.808271,39.269424
3,1000020023,1,4,39200000.0,15255000.0,17640000.0,10004,100,436943.0,46835.0,93670.0,89.714219,836.980890,418.490445,34.913021,325.717946,162.858973,40.371399,376.641401,188.320700
4,1000030001,1,4,272300000.0,121050000.0,122535000.0,10004,100,406980.0,5073.0,5073.0,669.074647,53676.325646,53676.325646,297.434763,23861.620343,23861.620343,301.083591,24154.346541,24154.346541

In [15]:
del df_new['FULLVAL'], df_new['AVLAND'], df_new['AVTOT'], df_new['LOTAREA'], df_new['BLDAREA'], df_new['BLDTOT']

In [16]:
df_new.head()

,BBLE,B,TAXCLASS,ZIP5,ZIP3,FULLVAL_LOTAREA,FULLVAL_BLDAREA,FULLVAL_BLDTOT,AVLAND_LOTAREA,AVLAND_BLDAREA,AVLAND_BLDTOT,AVTOT_LOTAREA,AVTOT_BLDAREA,AVTOT_BLDTOT
0,1000010101,1,4,10004,100,40.917782,8646.464646,2882.154882,8.079350,1707.272727,569.090909,18.413002,3890.909091,1296.969697
1,1000010201,1,4,10004,100,40552.416824,23074.175497,7691.391832,2994.350282,1703.774259,567.924753,18248.587571,10383.378974,3461.126325
2,1000020001,1,4,10004,100,261.796157,261.796157,87.265386,97.551991,97.551991,32.517330,117.808271,117.808271,39.269424
3,1000020023,1,4,10004,100,89.714219,836.980890,418.490445,34.913021,325.717946,162.858973,40.371399,376.641401,188.320700
4,1000030001,1,4,10004,100,669.074647,53676.325646,53676.325646,297.434763,23861.620343,23861.620343,301.083591,24154.346541,24154.346541

In [17]:
df.shape

(1070994, 11)

In [18]:
list(df.columns)

['BBLE',
 'B',
 'TAXCLASS',
 'FULLVAL',
 'AVLAND',
 'AVTOT',
 'ZIP5',
 'ZIP3',
 'LOTAREA',
 'BLDAREA',
 'BLDTOT']

In [19]:
df_new['ALL'] = 1
df_return = pd.DataFrame()

In [20]:
df_new.head()

,BBLE,B,TAXCLASS,ZIP5,ZIP3,FULLVAL_LOTAREA,FULLVAL_BLDAREA,FULLVAL_BLDTOT,AVLAND_LOTAREA,AVLAND_BLDAREA,AVLAND_BLDTOT,AVTOT_LOTAREA,AVTOT_BLDAREA,AVTOT_BLDTOT,ALL
0,1000010101,1,4,10004,100,40.917782,8646.464646,2882.154882,8.079350,1707.272727,569.090909,18.413002,3890.909091,1296.969697,1
1,1000010201,1,4,10004,100,40552.416824,23074.175497,7691.391832,2994.350282,1703.774259,567.924753,18248.587571,10383.378974,3461.126325,1
2,1000020001,1,4,10004,100,261.796157,261.796157,87.265386,97.551991,97.551991,32.517330,117.808271,117.808271,39.269424,1
3,1000020023,1,4,10004,100,89.714219,836.980890,418.490445,34.913021,325.717946,162.858973,40.371399,376.641401,188.320700,1
4,1000030001,1,4,10004,100,669.074647,53676.325646,53676.325646,297.434763,23861.620343,23861.620343,301.083591,24154.346541,24154.346541,1

In [21]:
variables = list(df_new.columns)[5:-1]
groups = list(df_new.columns)[1:5]
groups.append('ALL')

In [22]:
variables

['FULLVAL_LOTAREA',
 'FULLVAL_BLDAREA',
 'FULLVAL_BLDTOT',
 'AVLAND_LOTAREA',
 'AVLAND_BLDAREA',
 'AVLAND_BLDTOT',
 'AVTOT_LOTAREA',
 'AVTOT_BLDAREA',
 'AVTOT_BLDTOT']

In [23]:
groups

['B', 'TAXCLASS', 'ZIP5', 'ZIP3', 'ALL']

In [24]:
for group in groups:
    for variable in variables:
        df_return[variable + '_By_' + group] = (df_new[variable] / df_new.groupby(group)[variable].transform('mean'))

In [25]:
df_return.shape

(1070994, 45)

In [26]:
df_return["BBLE"] = df_new['BBLE']

In [27]:
col = ["BBLE"] + list(df_return.columns)[:-1]

In [28]:
df_return = df_return[col]

In [29]:
df_return.shape

(1070994, 46)

In [30]:
df_return.head()

,BBLE,FULLVAL_LOTAREA_By_B,FULLVAL_BLDAREA_By_B,FULLVAL_BLDTOT_By_B,AVLAND_LOTAREA_By_B,AVLAND_BLDAREA_By_B,AVLAND_BLDTOT_By_B,AVTOT_LOTAREA_By_B,AVTOT_BLDAREA_By_B,AVTOT_BLDTOT_By_B,...,AVTOT_BLDTOT_By_ZIP3,FULLVAL_LOTAREA_By_ALL,FULLVAL_BLDAREA_By_ALL,FULLVAL_BLDTOT_By_ALL,AVLAND_LOTAREA_By_ALL,AVLAND_BLDAREA_By_ALL,AVLAND_BLDTOT_By_ALL,AVTOT_LOTAREA_By_ALL,AVTOT_BLDAREA_By_ALL,AVTOT_BLDTOT_By_ALL
0,1000010101,0.112648,14.992418,16.514254,0.233847,22.180625,15.649562,0.194008,25.006479,25.878982,...,24.550947,0.118494,14.343717,10.097551,0.729609,37.830562,22.957832,0.600598,51.819895,37.223199
1,1000010201,111.642551,40.009148,44.070357,86.667868,22.135173,15.617494,192.275407,66.732926,69.061310,...,65.517282,117.435491,38.278008,26.946582,270.406151,37.753042,22.910788,595.235327,138.287889,99.334777
2,1000020001,0.720736,0.453938,0.500016,2.823525,1.267380,0.894202,1.241281,0.757142,0.783559,...,0.743349,0.758134,0.434297,0.305732,8.809477,2.161603,1.311789,3.842689,1.568994,1.127038
3,1000020023,0.246987,1.451271,2.397879,1.010515,4.231677,4.478496,0.425371,2.420636,3.757642,...,3.564811,0.259803,1.388477,1.466170,3.152836,7.217413,6.569933,1.316841,5.016184,5.404829
4,1000030001,1.841991,93.071323,307.556150,8.608892,310.006503,656.176196,3.172353,155.237541,481.961844,...,457.228945,1.937569,89.044258,188.053546,26.859980,528.737150,962.607321,9.820792,321.692352,693.232895

In [31]:
mat = df_return.iloc[:,1:].values
norm_mat = pd.DataFrame(scale(mat))

In [32]:
norm_mat.columns = list(df_return.columns)[1:]

In [33]:
norm_mat["BBLE"] = df_return['BBLE']

In [34]:
norm_mat = norm_mat[list(df_return.columns)]

In [35]:
norm_mat.head()

,BBLE,FULLVAL_LOTAREA_By_B,FULLVAL_BLDAREA_By_B,FULLVAL_BLDTOT_By_B,AVLAND_LOTAREA_By_B,AVLAND_BLDAREA_By_B,AVLAND_BLDTOT_By_B,AVTOT_LOTAREA_By_B,AVTOT_BLDAREA_By_B,AVTOT_BLDTOT_By_B,...,AVTOT_BLDTOT_By_ZIP3,FULLVAL_LOTAREA_By_ALL,FULLVAL_BLDAREA_By_ALL,FULLVAL_BLDTOT_By_ALL,AVLAND_LOTAREA_By_ALL,AVLAND_BLDAREA_By_ALL,AVLAND_BLDTOT_By_ALL,AVTOT_LOTAREA_By_ALL,AVTOT_BLDAREA_By_ALL,AVTOT_BLDTOT_By_ALL
0,1000010101,-0.060695,0.900334,0.875543,-0.020193,0.234715,0.171356,-0.046539,0.386116,0.403223,...,0.399005,-0.040315,0.815228,0.516371,-0.009311,0.455053,0.266218,-0.026968,0.921792,0.597876
1,1000010201,7.568010,2.510020,2.430665,2.257913,0.234211,0.170981,11.044536,1.057236,1.103096,...,1.093064,5.325068,2.277482,1.472711,9.277554,0.454095,0.265648,40.122670,2.490184,1.623048
2,1000020001,-0.019102,-0.035136,-0.028216,0.048062,0.002963,-0.001238,0.013932,-0.003906,-0.003508,...,-0.004348,-0.011062,-0.034561,-0.039406,0.268935,0.014352,0.003780,0.191938,0.010321,0.002097
3,1000020023,-0.051506,0.029037,0.078889,0.000277,0.035812,0.040688,-0.033180,0.022849,0.044694,...,0.043453,-0.033852,0.023734,0.026459,0.074137,0.076818,0.067530,0.021393,0.072847,0.072703
4,1000030001,0.057593,5.924273,17.300424,0.200544,3.424277,7.663595,0.125435,2.480728,7.795132,...,7.729515,0.042879,5.379022,10.617038,0.890542,6.520353,11.658580,0.595578,5.816850,11.425531

In [36]:
norm_mat.describe()

,FULLVAL_LOTAREA_By_B,FULLVAL_BLDAREA_By_B,FULLVAL_BLDTOT_By_B,AVLAND_LOTAREA_By_B,AVLAND_BLDAREA_By_B,AVLAND_BLDTOT_By_B,AVTOT_LOTAREA_By_B,AVTOT_BLDAREA_By_B,AVTOT_BLDTOT_By_B,FULLVAL_LOTAREA_By_TAXCLASS,...,AVTOT_BLDTOT_By_ZIP3,FULLVAL_LOTAREA_By_ALL,FULLVAL_BLDAREA_By_ALL,FULLVAL_BLDTOT_By_ALL,AVLAND_LOTAREA_By_ALL,AVLAND_BLDAREA_By_ALL,AVLAND_BLDTOT_By_ALL,AVTOT_LOTAREA_By_ALL,AVTOT_BLDAREA_By_ALL,AVTOT_BLDTOT_By_ALL
count,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,...,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06,1.070994e+06
mean,-2.786458e-17,-8.598212e-18,-2.653769e-18,5.042162e-19,-1.379960e-18,-1.419767e-18,1.921329e-17,2.733382e-18,8.359373e-19,7.348287e-17,...,-2.594059e-18,1.756795e-17,1.061508e-18,3.019989e-17,5.864830e-18,1.714998e-18,-8.052531e-19,8.093996e-18,1.144106e-17,7.336013e-18
std,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,...,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
min,-6.840049e-02,-6.434431e-02,-5.643475e-02,-2.635654e-02,-1.108156e-02,-1.169700e-02,-5.774148e-02,-1.608378e-02,-1.620737e-02,-1.621661e-01,...,-1.694218e-02,-4.573400e-02,-6.109445e-02,-5.675934e-02,-3.443703e-02,-1.235528e-02,-1.212405e-02,-6.751982e-02,-1.813836e-02,-1.650531e-02
25%,-5.513184e-02,-4.352205e-02,-4.115201e-02,-1.926665e-02,-9.494364e-03,-1.067789e-02,-4.580364e-02,-1.190858e-02,-1.262539e-02,-1.061171e-01,...,-1.333648e-02,-3.592515e-02,-4.193930e-02,-4.188206e-02,-2.730434e-02,-1.083544e-02,-1.117836e-02,-5.579881e-02,-1.395446e-02,-1.316833e-02
50%,-3.676316e-02,-1.091802e-02,-1.181433e-02,-1.027778e-02,-7.092950e-03,-8.168740e-03,-3.320353e-02,-9.272198e-03,-9.960520e-03,-5.556077e-02,...,-1.010252e-02,-2.558000e-02,-1.081940e-02,-9.568026e-03,-2.025534e-02,-8.265485e-03,-8.617151e-03,-4.846236e-02,-1.162656e-02,-1.048293e-02
75%,1.070227e-03,8.208763e-03,6.256513e-03,-6.820254e-04,-5.385987e-03,-6.490651e-03,-1.433494e-02,-6.595207e-03,-7.208774e-03,6.358275e-03,...,-7.231778e-03,-1.362716e-02,8.221904e-03,1.004345e-02,-1.198909e-02,-6.777144e-03,-7.166300e-03,-3.739287e-02,-9.422532e-03,-8.102623e-03
max,4.270492e+02,5.248266e+02,4.918919e+02,8.409995e+02,7.500455e+02,6.930676e+02,5.634308e+02,6.671628e+02,6.650325e+02,5.889111e+02,...,6.950223e+02,1.106749e+02,5.219301e+02,5.825879e+02,8.676148e+02,6.345051e+02,6.448654e+02,6.143945e+02,5.598618e+02,6.245636e+02

In [37]:
norm_mat.to_csv('Data/Normalized_Data_45.csv')